@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
:root{
        --color-main-black: #3e3e3e;
        --color-orange-main: #fe9519;

}
.navbar{
    background-color: var(--color-main-black);
    display:flex; /* 백그라운드 */

}
.kau_likelion_logo{
    width: 40px;
    height: 40px;
    border-radius: 8px;
}
.likelionlogo_btn{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    font-family: "Gmarket_Sans";
    color:var(--color-orange-main);
    font-size: 12px;
}
.homebtn_div{
    width: 50px;
    display: block;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: auto;

}
.likelion_title{
    font-family: GmarketSans;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;

}
.kau_title{
    font-family: GmarketSans;
    color: #ffffff;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 0px;


}
.homework_btn{
    width: 46px;
    height: 46px;
    background-color: var(--color-main-black);
    border: 1px solid #ffffff;
    border-radius: 8px;
    justify-content: center;
    padding: 0px;


}
.assignment_backpack{
    width:40px;
    height:40px;
    margin-bottom: 6px;
}
.homework_list{
    font-family: GmarketSans;
    color: #ffffff;
    font-size: 12px;
    text-decoration: none

}

.assginment_nav{
    width: 50px;
    display: block;
    flex-direction: column; /*세로정렬*/
    justify-content: center;
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0px;

}.navbar_title_txt{
     font-family: GmarketSans;
     display: block;
     justify-content: center;
     flex-direction: row;
     padding-top: 20px;
     margin: auto;

 }

