<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/main.css">

</head>
<body>
<div class="assign_big">
  <div class="line1">
    <div class = "file_box">
    <p class="file_name">과제부여하기</p>
    </div>

  </div>

  <div class="line2">

    <img src="../../img/book-btn.png" alt="book_btn" class="book_btn"><!-- h는 헤더 alt속성이 뭐냐면 img파일이 이상하면  -->
    <h3 class="assginment_title">과제 목록</h3>
  </div>

  <div class="line3">
    <div class="jwabox1" >

      <a class="sentence1">[과제 : 깃]</a>
      <a class="sentence2">repository 생성과 push</a>
      <a class="sentence3">3월27일 월요일 19시까지</a>


    </div>
  </div>
    <div class="line4">
      <div class="jwabox2" >
        <a class="sentence4">[과제 : HTML & CSS]</a>
        <a class="sentence5">12기 멋사 LMS 페이지 따라하기</a>
        <a class="sentence6">4월3일 월요일 19시까지</a>


      </div>
    </div>
      <div class="line5">
        <div class="jwabox3" >
          <a class="sentence7">[과제 : JS]</a>
          <a class="sentence8">반응형 웹페이지 만들어보기</a>
          <a class="sentence9">3월27일 월요일 19시까지</a>


        </div>
      </div>
        <div class="line6">
          <div class="jwabox4" >
            <a class="sentence10">[과제 : JAVA]</a>
            <a class="sentence11">클래스 속성을 이용해서 은행계좌 만들기</a>
            <a class="sentence12">3월27일 월요일 19시까지</a>


          </div>
        </div>

  </div>


</div>


</div>


</body>
</html>