<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="../../js/base.js"></script>
  <link rel="stylesheet" href="../../css/navbar.css">
  <link rel="stylesheet" href="../../css/maru.css">
  <link rel="stylesheet" href="../../css/footer.css">



</head>
<body>
<div nav-include-path="../../templates/layout/navbar.html">  <!-- 태그 주석같은거임 -->
  <script>LoadNAVBAR();</script>
</div>
<nav class="mainn">
  <div class="marumenu">

    <p class="마루소개">귀여운짤들</p>

  </div>

  <div class="사진들">
    <img src="../../img/maru2.png" alt="logo" class="마루2">
    <img src="../../img/maru3.png" alt="logo" class="마루3">
    <img src="../../img/maru4.png" alt="logo" class="마루4">
  </div>

  <a class="마루마루" href="https://comic.naver.com/webtoon/list?titleId=796152">
    <p class="hello">클릭이 될까?</p>
  </a>


</nav>


</body>
<div foot-include-path="../../templates/layout/footer.html">  <!-- 태그 주석같은거임 -->
  <script>LoadFOOTER();</script>
</div>

</html>