<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../css/maru.css">

</head>
<body>
<nav class="mainn">
  <div class="marumenu">

    <p class="소개">귀여운짤들들들들</p>

  </div>

  <div class="사진들">
    <img src="../../img/maru2.png" alt="logo" class="마루 2">
    <img src="../../img/maru3.png" alt="logo" class="마루 3">
    <img src="../../img/maru4.png" alt="logo" class="마루 4">
  </div>

  <a class="마루마루" href="https://comic.naver.com/webtoon/list?titleId=796152">
    <p class="hello">웹툰링크!!!</p>
  </a>


</nav>


</body>
</html>