<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../js/base.js"></script>
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="../../css/myself.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <title>myself</title>

</head>
<body>
<div nav-include-path="../../templates/layout/navbar.html">  <!-- 태그 주석같은거임 -->
    <script>LoadNAVBAR();</script>
</div>
<nav class="main">
    <div class="intro">



        <p class="인트로">자기소개 시작!</p>


    </div>
    <div class="인적사항">
        <p class="이름소개">이름 : 좌민석</p>
        <p class="나이소개"> 나이 : 25세</p>


           <!-- 하이퍼링크 margin을 가질 수 없음-->
        <p class="닉네임소개">닉네임 : Ravi</p>

    </div>


    <div class="others">
        <button class ="github button">

            <a class="깃허브" href="https://github.com/jms0324?tab=repositories">
                <img src="../../img/깃허브브.png" alt="logo" class="깃허브사진">
                <p class="깃허브설명">  제 깃허브 주소입니다! </p>
            </a>


        </button>

        <button class="insta button">
            <img src="../../img/인스타.png" alt="logo" class="인스타사진">
            <p class="인스타설명"> 인스타는 비활탔습니다!</p>



        </button>

        <button class="maru button">
            <a class="마루마루루" href="marumaru.html">
                <img src="../../img/maru1.png" alt="logo" class="마루사진">
                <p class="마루설명"> 제 최애캐 마루입니당</p>

            </a>



        </button>







    </div>

</nav>
<div foot-include-path="../../templates/layout/footer.html">  <!-- 태그 주석같은거임 -->
    <script>LoadFOOTER();</script>
</div>


</body>
</html>